@import '../vendor/animate.scss';
@import '../vendor/vars.scss';

.intro {
  min-height: 100vh;
  background: url('../../../public/img/main.jpg') center no-repeat;
  background-size: cover;
  padding: 31.5rem 0 8rem;

  &__title {
    font-size: 6rem;
    width: 100%;
    max-width: 100rem;
    line-height: 1.3;
    margin-bottom: 3rem;

    color: #eaeff1;
    display: inline-block;
    position: relative;

    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    mask-size: 200%;
    animation: wave 2s infinite;
  }

  &__descr {
    font-size: 3rem;
    width: 100%;
    max-width: 72rem;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 600;
  }
  &__inner {
    display: flex;
  }
}

.about {
  color: $black;
  padding: 4rem 0 8rem;

  &__inner {
    max-width: 70%;
  }

  &__title {
    font-size: 5.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__descr {
    font-size: 2rem;
    font-weight: 500;
  }

  span {
    display: block;
    margin: 2rem 0;
  }
}

.training {
  text-align: center;
  color: $black;
  padding: 4rem 0 8rem;

  &__title {
    font-size: 4.5rem;
    font-weight: 600;
  }

  &__descr {
    font-size: 2rem;
  }
}

.items-training {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}
